*.orig
*~
*.#*
*.pyc
.apikey
.coverage
*.dyn_hi
*.dyn_o
*.hi
*.o
.stack-work
.depend
*.out
*.dSYM
.coverage*
dist-newstyle
*.lock
node_modules
.mypy_cache
.idea
*.db
.venv
venv
.benchmarks
fil-result
TAGS
